@import url('normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto:wght@400;500;700&display=swap');

:root {
	--color__link_active: rgba(95, 255, 255, 1);
	--color__link_press: rgba(116, 116, 116, 1);
	--color__highlight: rgba(23, 239, 135, 1);
	--color__main: rgba(188, 61, 220, 1);
	--color__text_active: rgba(225, 225, 225, 1);
	--color__text_normal: rgba(184, 184, 184, 1);
	--font__roboto: 'Roboto', sans-serif;
	--font__inter: 'Inter', sans-serif;
}

body {
	font-family: var(--font__roboto);
	font-size: 1.3em;
	font-weight: 400;
	color: var(--color__text_normal);
	background-image: url('../images/BG.png');
	background-position: center;
	background-size: cover;
	height: 100%;
	overflow: hidden;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.highlight {
	color: var(--color__highlight);
}

.header {
	padding: 40px 20px 0 20px;
	margin-bottom: 100px;
}

.header__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.navbar {
}

.logo:hover {
	transform: translateY(1px);
}

.menu {
	display: flex;
	justify-content: space-between;
	font-family: var(--font__inter);
}

.menu li:not(:last-of-type) {
	margin-right: 25px;
}

.menu li:hover {
	color: var(--color__link_active); 
	transform: translateY(2px);
}

.menu li:active {
	color: #747474; 
}

a.active { 
	color: var(--color__link_active); 
	font-weight: 700;
}

a.active:active {
	color: var(--color__link_press); 
}

.telephone {
	font-family: var(--font__inter);
	font-weight: 700;
	font-size: 20px;
	color: var(--color__text_active);
}
.telephone:hover {
	color: var(--color__link_active); 
}

.telephone:active {
	color: var(--color__link_press); 
}

.main {
	margin-bottom: 20px;
	padding: 20px;
}
.main__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.main__info {
	color: var(--color__text_active);
}
.main__title { font-size: 4em; font-weight: 700; margin-bottom: 10px;}

.main__subtitle {
	color: var(--color__text_normal);
	margin-bottom: 50px;
}
.main__qualities {
	font-size: 24px;
	margin-bottom: 48px;
}

.main__qualities li{
	position: relative;
	padding-left: 30px;
}

.main__qualities li:not(:last-of-type) {
	margin-bottom: 20px;
}

.main__qualities li::before{
	content: url("../images/icons/award.svg");
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
}

.button {
	
}

.button:hover {
	border-color: rgba(99, 99, 99, 0.6);
	background-color: rgba(82, 82, 82, 0.2);
}

.main__cta {
	font-family: var(--font__inter);
	padding: 16px 14px;
	background-color: var(--color__main);
	border-radius: 25px;
	margin-right: 6px;
	border: 3px solid transparent;
	transition: 0.4s all ease 0s;
	font-weight: 700;
	box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.3);
}


.main__more {
	padding: 16px 15px;
	border: 3px solid var(--color__main);
	border-radius: 25px 25px 0 25px;
	transition: 0.4s all ease 0s;
}

.main__skills {
	position: relative;
	animation: shacke 2s infinite alternate ease-in-out;
}


/* triangles */

.bg__triangle {
	position: absolute;
	z-index: -1;
	padding: 60px;
}

.bg__triangle_1 {
	left: 400px;
	top: 100px;
}

.bg__triangle_2 {
	left: 50px;
	top: 300px;
}

.bg__triangle_3 {
	left: 800px;
	top: 500px;
}

.bg__triangle_4 {
	left: 1400px;
	top: 700px;
}

.bg__triangle_5 {
	left: 300px;
	top: 700px;
}

.bg__triangle_6 {
	left: 900px;
	top: 100px;
}

.bg__triangle_7 {
	left: 1400px;
	top: 250px;
}

@keyframes shacke {
	0% {
		transform: rotate(1deg);
	}
	100% {
		transform: rotate(-1deg);
	}
}

.main__skills::before {
	content: '';
	position: absolute;
	width: 100px;
	height: 100px;
	top: 0;
	left: 0;
	background-color: var(--color__highlight);
	
	z-index: -5;
}
.footer {
	text-align: center;
	padding: 0px 20px 20px;
}
.footer__description {
	margin-bottom: 20px;
}
.footer__sociels {
	max-width: 30rem;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer__sociels img {
	transition: 0.3s all ease 0s;
}

.footer__sociels img:hover {
	transform: scale(1.1);
}

@media (max-width: 1440px) {
	.container {
		max-width: 1100px;
	}

	.main {
		margin-bottom: 20px;
	}
}

@media (max-width: 1110px) {
	.navbar {
		display: none;
	}

	.container {
		max-width: 760px;
	}
}

@media (max-width: 960px) {

	body {
		font-size: 1em;
	}

	.header {
		margin-bottom: 50px;
	}

	.telephone {
		font-size: 1.1em;
	}

	.container {
		max-width: 700px;
	}

	.main__skills {
		display: none;
	}

	.main {
		margin-bottom: 60px;
	}

	.main__cta {
		padding: 16px 10px;
		margin-right: 2px;
	}

	.main__more {
		padding: 16px 8px;
	}
}
